<ul class="nav nav-pills justify-content-center mb-3 market-action-tab-ul" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-all-nifty-bank-tab" data-bs-toggle="pill" href="#pills-all-nifty-bank" role="tab"
      aria-controls="pills-all-nifty-bank" aria-selected="true">All</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-gainers-nifty-bank-tab" data-bs-toggle="pill" href="#pills-gainers-nifty-bank" role="tab"
      aria-controls="pills-gainers-nifty-bank" aria-selected="false">Top gainer</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-losers-nifty-bank-tab" data-bs-toggle="pill" href="#pills-losers-nifty-bank" role="tab"
      aria-controls="pills-losers-nifty-bank" aria-selected="false">Top losers</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-open-low-nifty-bank-tab" data-bs-toggle="pill" href="#pills-open-low-nifty-bank" role="tab"
      aria-controls="pills-open-low-nifty-bank" aria-selected="false">Same open & low</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-open-high-nifty-bank-tab" data-bs-toggle="pill" href="#pills-open-high-nifty-bank" role="tab"
      aria-controls="pills-open-high-nifty-bank" aria-selected="false">Same open & high</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="pills-all-nifty-bank" role="tabpanel" aria-labelledby="pills-all-nifty-bank-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% columns = ['symbol', 'open_price', 'high_price', 'low_price', 'last_price', 'prev_price', 'per_change','total_traded_volume', 'total_traded_value'] %>
            <% columns.each do |column| %>
              <th scope="col"><%= column.humanize %></th>
            <% end %>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <%= display_stock_data(@stock_nifty_bank, columns, true) %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-gainers-nifty-bank" role="tabpanel" aria-labelledby="pills-gainers-nifty-bank-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% columns = ['symbol', 'open_price', 'high_price', 'low_price', 'last_price', 'prev_price', 'per_change'] %>
            <% columns.each do |column| %>
              <th scope="col"><%= column.humanize %></th>
            <% end %>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <%= display_stock_data(@gainers_nifty_bank, columns, true) %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="tab-pane fade" id="pills-losers-nifty-bank" role="tabpanel" aria-labelledby="pills-losers-nifty-bank-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% columns = ['symbol', 'open_price', 'high_price', 'low_price', 'last_price', 'prev_price', 'per_change'] %>
            <% columns.each do |column| %>
              <th scope="col"><%= column.humanize %></th>
            <% end %>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <%= display_stock_data(@losers_nifty_bank, columns, true) %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-open-low-nifty-bank" role="tabpanel" aria-labelledby="pills-open-low-nifty-bank-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% columns = ['symbol', 'open_price', 'high_price', 'low_price', 'last_price', 'prev_price', 'per_change'] %>
            <% columns.each do |column| %>
              <th scope="col"><%= column.humanize %></th>
            <% end %>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <%= display_stock_data(@same_open_low_nifty_bank, columns, true) %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-open-high-nifty-bank" role="tabpanel" aria-labelledby="pills-open-high-nifty-bank-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% columns = ['symbol', 'open_price', 'high_price', 'low_price', 'last_price', 'prev_price', 'per_change'] %>
            <% columns.each do |column| %>
              <th scope="col"><%= column.humanize %></th>
            <% end %>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <%= display_stock_data(@same_open_high_nifty_bank, columns, true) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
